@import './mixins';
@import './resst';

$main-color:rgb(0, 198, 248);

.hide {
    height: 0;
    overflow: hidden;
    padding: 0 !important;
}


#navbar {
    padding: 1rem 3rem;
    box-shadow: 0px 5px 20px #d2d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar__title {
    letter-spacing: 2x;

    & span {
        color: $main-color;
    }
}

#navbar__links {
    display: flex;

    @include mobile {
        display: none;
    }
}

.links {
    margin-left: .5rem;
    cursor: pointer;
    color: #9a9a9a;
    font-weight: bold;
    letter-spacing: 1px;
}

#toggle {
    display: none;
    color: $main-color;
    padding: .5rem;
    border: 2px solid $main-color;
    transition: .3s;
    border-radius: 5px;

    &:hover {
        background-color: $main-color;
        color: white;
        cursor: pointer;
        transform: rotate(-90deg);
    }

    & i {
        font-size: 1.5rem;

    }

    @include mobile {
        display: block;
    }
}

#mobile-links {
    box-shadow: 0px 5px 20px #d2d1d1;
    padding: 2rem 1rem;
    background-color: white;
    transition: .3s;

    hr {
        height: .5px;
        background-color: $main-color;
        opacity: .5;
        width: 10%;

        margin: 1rem auto;
        border: .5px solid $main-color;
    }

    li {

        text-align: center;
    }

    @include desktop {
        height: 0;
        overflow: hidden;
        padding: 0 !important;
    }
}